h2{
  color: blue;
  font-size:20px; 
 }   
header a{
  background-color:white;
  border-radius:10px;
  padding-left:5px;
  padding-right:5px;
  padding-top:3px;
  padding-dottom:3px;
  text-decoration:none; 
  margin-left:10px;
  margin-right:10px;
}
hader{
  padding:15px;
}
