h2{
  color: blue;
  font-size:20px; 
 }   
header a, footer a{
  color:white;
  padding:20px;
  text-decoration:none; 
}
header{
  padding:10px;
}
.dev{
   font-size:15px;
}
body{
  background-image:url('https://i.pinimg.com/originals/6e/0f/d6/6e0fd69a36ee8bbf9504f3132c79faff.jpg'); 
  background-image:url('https://funart.pro/uploads/posts/2021-04/1618586981_3-funart_pro-p-oboi-fon-cherno-fioletovii-3.jpg');
}
header, footer{
  background-image:url('https://i.pinimg.com/736x/40/11/20/4011200620a6a72b2ae7f465ce233bfe.jpg');
}
p, dev{
  color:#4dffdb;
  font-size:30px;
}
h1{
  color:#00ffcc;
  font-size:41px
}
h2{
  color:#00ffcc;
  font-size:35px;
 }
td{
  color:#4dffdb;
  font-size:20px;
}
table {
  border:solid #00ffcc 3px;
}
main img {
  border-radius:20px;
  border:white solid 3px;
  margin-right:20px;
}

